<div style="background-color:white;">
    <div>
        <img style="position:relative;width:1450px;height:660px;opacity:0.8;" src="~/image/2.jpg">
        <div style="left:70px;top:270px; position:absolute">
            <p style="font-size:36px;color:black">The Phone that works like your PC<p>
                <br />
            <p style="font-size: 18px; color: black">Introducing the Lumia 950.</p>
            <p style="font-size: 18px; color: black">It's the Lumia you've been waiting for.</p>
        </div>
    </div>
    <br /><br/><br/><br>
    <p style="font-size: 30px; color: black;position:relative;text-align:center">One Experience.Everywhere</p>

    <div  style="position:relative;top:105px;left:100px">
        <input class="ipt" name="" type="image" src="~/image/3.jpg" />
        <p style="font-size: 20px; color: black; left: 10px; position: relative">Your own personal assistant</p>
        <p style="font-size:15px;position:relative;color:black">Cortana gets to know you and gives you <br/>a personalized  snapshot of your entire day. </p>
    </div>
    <div style="position:relative;top:-140px;left:410px">
        <input class="ipt" name="" type="image" src="~/image/4.jpg"  />
        <p style="font-size: 20px; color: black; left: 10px; position: relative">Advanced imaging</p>
        <p style="font-size:15px;position:absolute;color:black">Take fantastic pictures with the 20 MP<br/> camera sensor on the Lumia 950 and 950 XL.</p>
    </div>
    <div style="position:relative;top:-325px;left:730px">
        <input class="ipt" name="" type="image" src="~/image/5.jpg"  />
        <p style="font-size: 20px; color: black; left: 10px; position: relative">Office for Lumia</p>
        <p style="font-size:15px;position:absolute;color:black">With Windows 10, your important Office <br/>documents are in sync across all your devices.</p>
    </div>
    <div style="position:relative;top:-510px;left:1050px">
        <input class="ipt" name="" type="image" src="~/image/6.jpg" >
        <p style="font-size: 20px; color: black; left: 10px; position: relative">Superior performance</p>
        <p style="font-size:15px;position:absolute;color:black">The Lumia 950 and 950 XL have a powerful<br/> processor and excellent battery life.</p>
    </div>

</div>