<div style="background-color:white">
    <div style="height:560px">
        <img style="position:relative;width:1450px;height:600px;opacity:0.8;" src="~/image/bg.jpg">
        <div style="left:470px;top:270px; position:absolute">
            <p style="font-size:36px;color:black;position:relative;right:-400px;top:-100px">Surface Book<p>
                <br />
            <p style="font-size: 18px; color: black; position: relative; right: -400px;top:-100px">Ultra-thin, meticulously crafted, with incredible <br />screen resolution. This is the ultimate laptop.</p>
            <p style="font-size: 15px; color: black; position: relative; right: -400px; top: -100px">Starting at</p>
            <p style="font-size: 28px; color: black; position: relative; right: -400px; top: -100px">$1499</p>
        </div>
        <div style="text-align:center;font-size:38px;">
            @Html.ActionLink("Key Features|", "Index", "Products")
            @Html.ActionLink("Innovation|", "Innovation", "Products")
            @Html.ActionLink("In Action|", "Action", "Products")
            @Html.ActionLink("Tech Specs|", "Specs", "Products")
            <br /><br />

        </div>
    </div>
    <div>
        <img style="position:relative;width:1450px;height:460px;opacity:0.8;" src="~/image/fb1.jpg">
        <div style="left:70px;top:270px; position:absolute">
            <p style="font-size: 36px; color: white; position: relative;top:500px;color:black">Ultimate versatility.<p>
                <br />
            <p style="font-size: 18px; color: white; position: relative; top: 500px;color:black ">
                Surface Book transforms into three different<br /> configurations, adapting to the way that you work<br /> and the places where you create.
            </p>

        </div>
    </div>
    <div style="position:relative;top:105px;left:100px">
        <input name="" type="image" src="~/image/sb1.jpg" />
        <p style="font-size: 20px; color: black; left: 10px; position: relative">Powerful laptop</p>
        <p style="font-size:15px;position:relative;color:black">
            The first full laptop has arrived in the<br /> Surface family. Surface Book is a powerful<br /> laptop with a full sized, backlit keyboard<br> for fast and natural typing.
        </p>
    </div>
    <div style="position:relative;top:-160px;left:410px">
        <input name="" type="image" src="~/image/sb2.jpg" />
        <p style="font-size: 20px; color: black; left: 10px; position: relative">Portable clipboard</p>
        <p style="font-size:15px;position:absolute;color:black">
            The 13.5” PixelSense? display detaches<br /> easily from the keyboard to become<br /> a thin, light tablet that works perfectly with<br /> OneNote and Surface Pen.
        </p>
    </div>
    <div style="position:relative;top:-325px;left:730px">
        <input name="" type="image" src="~/image/sb3.jpg" />
        <p style="font-size: 20px; color: black; left: 10px; position: relative">Creative canvas</p>
        <p style="font-size:15px;position:absolute;color:black">Turn the screen around and reattach it to<br /> use Surface Book like a creative canvas. By<br /> reconnecting it to the keyboard, you <br />unlock its full creative power in a pen first<br /> mode.</p>
    </div>
    <div style="position:relative;top:-495px;left:1050px">
        <input class="ipt" name="" type="image" src="~/image/sb4.jpg">
        <p style="font-size: 20px; color: black; left: 10px; position: relative">Mobile studio</p>
        <p style="font-size:15px;position:absolute;color:black">Surface Book is the creative professional’s<br /> laptop, designed to power through<br /> professional grade photo and video<br /> editing.</p>
    </div>
</div>