@{
    ViewBag.Title = "Login Failure";
}
<header>
    <link rel="stylesheet" type="text/css" href="~/Content/login.css" />
</header>

<section id="content">
    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
        <h2>Unsuccessful login with service.</h2>
    </hgroup>
</section>