@{
    ViewBag.Title = "AboutUs";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About Us</title>
</head>
<body>
    <img id="manageimg1" style="position:relative;height:575px;width:1360px; opacity:0.3;z-index:500;" src="~/Images/About.jpg" />
    <div style="z-index:1000; position:absolute;top:100px;left:0px;">

        <h2 style="font-size:30px;color:lightblue;font-family:'Microsoft YaHei'">About Our Onlin Store</h2>
        <p style="font-size:15px;color:lightblue;font-family:'Microsoft YaHei'"> Our  store for people who enjoy Surfacebook and for those shoppers who like  unique Laptop.<br /> We ensure the industry standard of customer service and provide best offers to our customers.</p>
        <p style="font-size:10px;color:lightblue;font-family:'Microsoft YaHei'">
            Dear customers friends:

            Our main XX series of online stores, the province exclusive agent! Ensure the quality, style is great!<br />
            Price concessions! Hope the broad masses of friends to give support! Thank you very much!<br />
            1, thank you for coming, new store opening, integrity management, small profits income, preferential.<br />
            2, welcome to our shop, our solemn promise here, our products are quality goods, please rest assured purchase, <br />
            false one penalty ten.
            3, we by the good faith management, customer satisfaction as our tenet. We mainly deal in XX products, welcome to buy.<br />

            Our commitment: 100% brand new authentic guarantee! Goods sold by all for new quality goods, we guarantee the quality of<br />
            the product and the brand quality goods quality is quite normal, in view of the particularity of online shopping,<br />
            please watch carefully before buyer in baby description, we guarantee that our pictures are taken in kind, we provide<br />
            only accords with the baby in the description of goods, please buyers female friends don't we imagine buying, don't give<br />
            evaluation after receipt of the goods is different from imagination.

            Second, preferential rule: our low-cost principle, full of ultra-low discount, low profits, don't bargain, don't go to zero,<br />
            don't pack mail (except the package mail or promotions). ~ although know counteroffer is understandable. But profits are<br />
            already low,<br />
            don't want to waste time to also don't want to hurt and to thank you for your cooperation!

            Three, the arrival of the goods time: express arrival time is about 3 to 5 days, and express the attitude of the problem<br />
            of the arrival of the exact time we can't control, so longer than normal to meet the arrival of the goods, please contact <br />
            us in time to facilitate to query and coordination, in case of delay and please understand. Also meet Courier attitude is bad,<br />
            please understand ~ thank you!

            Four, receiving the statement: please make sure that when receiving and Courier out face to face inspection, check the number<br />
            and the goods are in good condition. If found to have less damage, goods, etc., please let the express package returned,<br />
            good can be accepted, if others are signed, we also as I sign for it, to sign for them later have what problem, whose<br />
            responsibility is difficult to determine, so to sign the approval items in good condition, hope everybody buyers carefully check,<br />
            thank you!

        </p>
    </div>
</body>
</html>
