@{
    ViewBag.Title = "ContactUs";
}



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contact Us</title>
</head>
<body>
    <img id="manageimg1" style="position:relative;height:575px;width:1360px; opacity:0.2;z-index:500;" src="~/Images/Contact.jpg" />


    <section class="contact" style="z-index:1000; position:absolute;top:100px;left:0px;">
        <header>
            <h2 style="font-size: 40px; color: lightblue; font-family: 'Microsoft YaHei'"><b>Contact Us:</b></h2>
        </header>
        <p>
            <span style="font-size: 20px; color: lightblue; font-family: 'Microsoft YaHei'" class="label">Admin ID:</span>
            <span style="font-size: 20px; color: crimson; font-family: 'Microsoft YaHei'">Admin</span>

        </p>
        <p>
            <span style="font-size: 20px; color: lightblue; font-family: 'Microsoft YaHei'" class="label">Password:</span>
            <span style="font-size: 20px; color: crimson; font-family: 'Microsoft YaHei'">123123</span><br />
            
        </p>
        <span style="font-size: 15px; color: lightblue; font-family: 'Microsoft YaHei'">Only Use Admin ID You Can Use <b style="color:chartreuse">CRUD: CREATE | READ | UPDATE| DELETE</b></span><br />
        <p>------------------------------------------------------------------</p>
        <header>
            <h2 style="font-size: 40px; color: lightblue; font-family: 'Microsoft YaHei'"><b>E-mail:</b></h2>
        </header>
        <p>
            <span class="label">E-mail:</span>
            <span><a href="mailto:Surfacebook@Microsoft.com">Surfacebook@Microsoft.com</a></span>
        </p>
        <p>
            <span class="label">Support:</span>
            <span><a href="mailto:Support@Microsoft.com">Support@Microsoft.com</a></span>
        </p>
        <p>
            <span class="label">Marketing:</span>
            <span><a href="mailto:Marketing@Microsoft.com">Marketing@Microsoft.com</a></span>
        </p>
        <p>
            <span class="label">General:</span>
            <span><a href="mailto:General@Microsoft.com">General@Microsoft.com</a></span>
        </p>
        <p>------------------------------------------------------------------</p>
        <header>
            <h2 style="font-size:40px;color:lightblue;font-family:'Microsoft YaHei'"><b>Adress:</b></h2>
        </header>
        <p style="font-size:15px;color:lightblue;font-family:'Microsoft YaHei'">
            Shandong Province, QingDao City, Shinan District, Ningxia Rd.308
        </p>
    </section>

</body>
</html>
