@{
    ViewBag.Title = "Thanks";
}



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contact Us</title>
</head>
<body>
    <img id="manageimg1" style="position:relative;height:575px;width:1360px;z-index:500;" src="~/Images/feedback.jpg" />


        <h2 style="font-size:25px; position:absolute; z-index:1000;top:280px;left:0px;color:white; font-family:'Microsoft YaHei'">Thanks for your suggest!!</h2>

      
</body>
</html>
